@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<h5>Bowlers</h5>

@foreach (var x in Model.Bowlers)
    {
        <p>@x.BowlerFirstName @x.BowlerLastName</p>
    }

<div page-info="@Model.PageNumberingInfo"
     page-url-teamname="@Model.TeamName">

</div>